<div class="form-box" style="height: 600px;">
    <img src="../../../assets/images/coffee-beans-logo.png" alt="" style="margin-top: 20px;">
    <h4 style="margin: 30px;">Register your account</h4>
    <form id="form" class="form-input" [formGroup]="registrationForm" (ngSubmit)="registrationFormSubmit()">
        <div class="input-group">
            <div class="input-field">
                <input id="username" type="text" placeholder="Enter your username" formControlName="username">
                <div class="error" *ngIf="(Username.touched || Username.dirty) && Username.errors?.required">Username is required</div>
            </div>
            <div class="input-field">
                <input id="email" type="text" placeholder="Enter your email" formControlName="email">
                <div class="error" *ngIf="(Email.touched || Email.dirty) && Email.errors?.required">Email is required</div>
                <div class="error" *ngIf="(Email.touched || Email.dirty) && Email.errors?.email">Invalid Email</div>
            </div>
            <div class="input-field">
                <input id="password" type="password" placeholder="Enter your password" formControlName="password">
                <div class="error" *ngIf="(Password.touched || Password.dirty) && Password.errors?.required">Password is required</div>
                <div class="error" *ngIf="(Password.touched || Password.dirty) && Password.errors?.minlength">Password must be 8 characters long</div>
            </div>
            <div class="input-field">
                <input id="confirm-password" type="password" placeholder="Confirm your password" formControlName="confirm-password">
                <div class="error" *ngIf="(ConfirmPassword.touched || ConfirmPassword.dirty) && ConfirmPassword.errors?.required">Confirm your password</div>
            </div>
        </div>
        <p>Already have an Account?<a href="#"> Login</a></p>
        <div class="btn-field">
            <button type="submit" id="signup-btn" [disabled]="registrationForm.invalid">Sign Up</button>
        </div>
    </form>
</div>
