:root {
    --main-bg-color: #fff;
    --main-text-color: grey;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-color: #fff;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    width: 92.65px;
    height: 32px;
    margin-top: 0;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -21rem;
    }

    #wrapper.toggled #hr {
      width: 1210px;
    }
  }

  #sign-alt {
    position: relative;
    bottom: 0;
}


#hr {
    width: 950px;
    height: 1px;
    margin-top: 0;
    margin-left: 20px;
    background: grey;
}

#box-border {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

table {
  color: var(--gray-600, #475467); 
  font-family: Inter; font-size: 12px;
  font-style: normal;
  line-height: 18px;
  text-align: center;
}

th {
  font-weight: 600;
}

td {
  font-weight: 400;
}

thead {
background-color: #e7eaea;
}


a {
  text-decoration: none;
  color: #523838 !important;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
}


.update-btn {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 14px;
  width: 80px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #523838;

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

  color: #fff !important;
  text-align: right;

  /* Text sm/Semibold */
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}


.delete-btn {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  width: 80px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--error-500, #F04438);
  color: #F04438 !important;

  /* Text sm/Semibold */
  font-size: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}



.ng-valid.ng-dirty:not(form) {
  border: solid 2px lightgreen;
}

.ng-invalid.ng-dirty:not(form), .ng-invalid.ng-touched:not(form){
  border: solid 2px lightcoral;
}

.form-group .error {
  color: #ff3860;
  font-size: 12px;
  height: 13px;
}
