<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 my-4" style="float: left;">
            <img src="../../../assets/images/coffee-beans-logo.png" style="position: relative;">
            <span style="display: inline-block; position: absolute; margin-top: 3px;">
                &nbsp;&nbsp;Old Town Cafe
            </span>
        </div>
        <div class="list-group list-group-flush my-3">
            <a routerLink="/home" class="list-group-item list-group-item-action fw-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-users">
                    <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                    <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                    <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg>
                <span class="fs ms-2 d-none d-sm-inline">Dashboard</span>
            </a>
            <a class="list-group-item list-group-item-action fw-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M4 7.8C4 6.11984 4 5.27976 4.32698 4.63803C4.6146 4.07354 5.07354 3.6146 5.63803 3.32698C6.27976 3 7.11984 3 8.8 3H15.2C16.8802 3 17.7202 3 18.362 3.32698C18.9265 3.6146 19.3854 4.07354 19.673 4.63803C20 5.27976 20 6.11984 20 7.8V21L17.25 19L14.75 21L12 19L9.25 21L6.75 19L4 21V7.8Z"
                        stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="fs ms-2 d-none d-sm-inline">Purchase History</span>
            </a>
            <a class="list-group-item list-group-item-action fw-bold">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M12 2C13.3132 2 14.6136 2.25866 15.8268 2.76121C17.0401 3.26375 18.1425 4.00035 19.0711 4.92893C19.9997 5.85752 20.7363 6.95991 21.2388 8.17317C21.7413 9.38643 22 10.6868 22 12M12 2V12M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5229 22 12M12 2C17.5228 2 22 6.47716 22 12M22 12L12 12M22 12C22 13.5781 21.6265 15.1338 20.9101 16.5399C20.1936 17.946 19.1546 19.1626 17.8779 20.0902L12 12"
                        stroke="#667085" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="fs ms-2 d-none d-sm-inline">Reports</span>
            </a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
            <div class="d-flex align-items-center">
                <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            </div>
            <!-- pre collapsed the navbar -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link second-text fw-bold" id="navbarDropdown" role="button" (click)="logout()"
                            aria-expanded="false">
                            <i class="fas fa-user me-2"></i>
                            <span class="fs d-none d-sm-inline" id="adminname">{{ username }}</span>
                            <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 20 20" fill="none">
                                <path
                                    d="M13.3333 14.1667L17.5 10M17.5 10L13.3333 5.83333M17.5 10H7.5M7.5 2.5H6.5C5.09987 2.5 4.3998 2.5 3.86502 2.77248C3.39462 3.01217 3.01217 3.39462 2.77248 3.86502C2.5 4.3998 2.5 5.09987 2.5 6.5V13.5C2.5 14.9001 2.5 15.6002 2.77248 16.135C3.01217 16.6054 3.39462 16.9878 3.86502 17.2275C4.3998 17.5 5.09987 17.5 6.5 17.5H7.5"
                                    stroke="#667085" stroke-width="1.66667" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr id="hr">
        <div class="container-fluid px-4">
            <div id="row" class="row my-5">
                <div class="col">
                    <div style="float: left;">
                        <p><b>Users</b></p>
                    </div>
                    <div style="float: right;">
                        <a (click)="openAdd(content)">Add User</a>
                    </div>

                    <table id="coffee" class="table table-hover table-bordered rounded rounded-6 overflow-hidden">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email Address</th>
                                <th>Team Name</th>
                                <th>Role</th>
                                <th>Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr *ngFor="let user of users">
                                <td>{{ user.username}}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.team }}</td>
                                <ng-container *ngIf="user.is_staff == true; else userRole">
                                    <td>Admin</td>
                                </ng-container>
                                <ng-template #userRole>
                                    <td>User</td>
                                </ng-template>
                                <td>{{ user.balance }}</td>
                                <td><button class="btn update-btn"
                                        (click)="openUpdate(contentUpdate, user)">Update</button><button
                                        class="btn delete-btn" (click)="openDelete(contentDelete, user)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--add new user modal -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add User</h4>
        <button type="button" class="close" aria-label="Close" (click)="resetForm(); modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="addUserForm" (ngSubmit)="addFormSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                    <input id="username" class="form-control" formControlName="username">
                </div>
                <div class="error" *ngIf="(fc.username.touched || fc.username.dirty) && fc.username.errors?.required">
                    Username is required</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <input id="email" class="form-control" formControlName="email">
                </div>
                <div class="error" *ngIf="(fc.email.touched || fc.email.dirty) && fc.email.errors?.required">Email is
                    required</div>
                <div class="error" *ngIf="(fc.email.touched || fc.email.dirty) && fc.email.errors?.email">Invalid Email
                </div>
            </div>
            <div class="form-group">
                <label for="team">Team Name</label>
                <select class="form-select" aria-label="teamname select example" formControlName="team">
                    <option disabled>Choose your team name:</option>
                    <option value="SED">SED</option>
                    <option value="SALES">SALES</option>
                    <option value="HR">HR</option>
                    <option value="BCL">BCL</option>
                </select>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-select" aria-label="role select example" formControlName="is_staff">
                    <option disabled>Choose your role:</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
            </div>
            <div class="form-group">
                <label for="balance">Balance</label>
                <div class="input-group">
                    <input class="form-control" formControlName="balance">
                </div>
                <div class="error" *ngIf="(fc.balance.touched || fc.balance.dirty) && fc.balance.errors?.required">
                    Balance is required</div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-field" style="float: right; margin-top: 3px;">
                <button data-dismiss="modal" class="btn" style="background: #523838; color: white;">Submit</button>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="resetForm(); modal.close('Save click')">Cancel</button>
        </div>
    </form>
</ng-template>




<!--update user modal -->
<ng-template #contentUpdate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title2">Update User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="updateUserForm" (ngSubmit)="updateFormSubmit()">
        <div class="modal-body">
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-group">
                    <input class="form-control" formControlName="username">
                </div>
                <div class="error"
                    *ngIf="(fcUpdate.username.touched || fcUpdate.username.dirty) && fcUpdate.username.errors?.required">
                    Username is required</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group">
                    <input class="form-control" formControlName="email">
                </div>
                <div class="error"
                    *ngIf="(fcUpdate.email.touched || fcUpdate.email.dirty) && fcUpdate.email.errors?.required">Email is
                    required</div>
                <div class="error"
                    *ngIf="(fcUpdate.email.touched || fcUpdate.email.dirty) && fcUpdate.email.errors?.email">Invalid
                    Email
                </div>
            </div>

            <div class="form-group">
                <label for="team">Team Name</label>
                <select class="form-select" aria-label="teamname select example" formControlName="team">
                    <option disabled>Choose your team name:</option>
                    <option value="SED">SED</option>
                    <option value="SALES">SALES</option>
                    <option value="HR">HR</option>
                    <option value="BCL">BCL</option>
                </select>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-select" aria-label="role select example" formControlName="is_staff">
                    <option disabled>Choose your role:</option>
                    <option value=true>Admin</option>
                    <option value=false>User</option>
                </select>
            </div>
            <div class="form-group">
                <label for="balance">Balance</label>
                <div class="input-group">
                    <input class="form-control" formControlName="balance">
                </div>
                <div class="error"
                    *ngIf="(fcUpdate.balance.touched || fcUpdate.balance.dirty) && fcUpdate.balance.errors?.required">
                    Balance is required</div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-field" style="float: right; margin-top: 3px;">
                <button data-dismiss="modal" class="btn" style="background: #523838; color: white;">Submit</button>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
        </div>
    </form>
</ng-template>




<!-- delete user modal -->
<ng-template #contentDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm Delete</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5>Are you sure you want to delete this user?</h5>
    </div>
    <div class="modal-footer">
        <div class="btn-field" style="float: right; margin-top: 3px;">
            <button data-dismiss="modal" class="btn" style="background: #523838; color: white;"
                (click)="onDelete()">Yes, Delete!</button>
        </div>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>